{% extends 'blogsite/base.html' %}

{% block content %}
<div  class="container" style="margin-top:100px">



        <h1 class='posttitle loader' style="text-transform: none;font-size: 2rem;font-family: 'Arial';font-weight: 400;line-height: 50px;">{{ post.title }}</h1>
       
        <div align="center">
        <img class="responsive" src="{{post.post_pic.url}}" style="height: 300px;width: 500px">
        </div>
       
        {% if post.published_date %}
            <div class="date postdate">
                {{ post.published_date }}
            </div>

        {% else %}
            <a class="btn btn-outline-dark" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}

      <div style="color: grey;font-size: 1.30rem;font-family: serif; text-align: justify-all;">{{ post.text|safe }}</div>


      {% if user.is_authenticated %}
          <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}"><span class="fa fa-pencil"></span></a>
          <a class="btn btn-primary" href="{% url 'post_remove' pk=post.pk %}"><span class="fa fa-remove"></span></a>
      {% endif %}


</div>
<script async src="https://platform-api.sharethis.com/js/sharethis.js#property=5e6e79ef67891e00135352ae&product=sticky-share-buttons"></script>
{% endblock %}
